#!/bin/bash

set -euo pipefail
command -v curl >/dev/null 2>&1 || (sudo apt-get update && sudo apt-get install -y curl)
sudo swapoff -a || true
if ! command -v k3s-agent >/dev/null 2>&1
then
    INSTALL_K3S_VERSION=${k3s_version}
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_VERSION=${k3s_version} K3S_URL='${k3s_url}' K3S_TOKEN='${k3s_token}' \
    sh -s - agent \
    --node-ip "$(hostname -I | awk '{print $1}')" \
    --node-name '${k3s_node_name}'
else
    echo 'k3s agent already installed'
fi
sleep 5